Repository neuronsimulator/nrn, pull requests merged in 2021-06, with the labels that each got.

#1319 bugfix: Windows fix for 3D and hybrid rxd reaction.
  ci/win_test_installer.cmd
  share/lib/python/neuron/rxd/rxd.py
  share/lib/python/neuron/rxdtests/do_test.py
  share/lib/python/neuron/rxdtests/tests/3d/circadian_rhythm.py
  share/lib/python/neuron/rxdtests/tests/3d/multicompartment_reactions.py
  share/lib/python/neuron/rxdtests/tests/3d/pure_diffusion_3d.py
  share/lib/python/neuron/rxdtests/tests/3d/pure_diffusion_3d_cvode.py
  share/lib/python/neuron/rxdtests/tests/IraHH.py
  share/lib/python/neuron/rxdtests/tests/ca_pump.py
  share/lib/python/neuron/rxdtests/tests/cabuf.py
  share/lib/python/neuron/rxdtests/tests/cabuf_fixed_step.py
  share/lib/python/neuron/rxdtests/tests/ecs/ecs_before_sections.py
  share/lib/python/neuron/rxdtests/tests/ecs/ecs_example.py
  share/lib/python/neuron/rxdtests/tests/ecs/ecs_example_cvode.py
  share/lib/python/neuron/rxdtests/tests/ecs/ecs_include_flux.py
  share/lib/python/neuron/rxdtests/tests/ecs/ecs_include_flux_cvode.py
  share/lib/python/neuron/rxdtests/tests/ecs/ecs_multi_example.py
  share/lib/python/neuron/rxdtests/tests/ecs/ecs_multi_example_cvode.py
  share/lib/python/neuron/rxdtests/tests/hh.py
  share/lib/python/neuron/rxdtests/tests/hh_cvode.py
  share/lib/python/neuron/rxdtests/tests/hh_morph.py
  share/lib/python/neuron/rxdtests/tests/hh_param.py
  share/lib/python/neuron/rxdtests/tests/hh_param_cvode.py
  share/lib/python/neuron/rxdtests/tests/hybrid/bistable_hybrid.py
  share/lib/python/neuron/rxdtests/tests/hybrid/bistable_hybrid_change_nthread.py
  share/lib/python/neuron/rxdtests/tests/hybrid/bistable_hybrid_cvode.py
  share/lib/python/neuron/rxdtests/tests/hybrid/bistable_hybrid_cvode_change_nthread.py
  share/lib/python/neuron/rxdtests/tests/hybrid/pure_diffusion_hybrid.py
  share/lib/python/neuron/rxdtests/tests/hybrid/pure_diffusion_hybrid_cvode.py
  share/lib/python/neuron/rxdtests/tests/multicompartment_mebrane_mismatch.py
  share/lib/python/neuron/rxdtests/tests/multicompartment_reactions.py
  share/lib/python/neuron/rxdtests/tests/multicompartment_reactions_del.py
  share/lib/python/neuron/rxdtests/tests/multicompartment_reactions_with_v.py
  share/lib/python/neuron/rxdtests/tests/pure_diffusion.py
  share/lib/python/neuron/rxdtests/tests/pure_diffusion_cvode.py
  share/lib/python/neuron/rxdtests/tests/reaction_null_dest.py
  share/lib/python/neuron/rxdtests/tests/reaction_param_test.py
  share/lib/python/neuron/rxdtests/tests/reaction_test.py
  share/lib/python/neuron/rxdtests/tests/wave1d/wave1d_125_1.py
  share/lib/python/neuron/rxdtests/tests/wave1d/wave1d_25_5.py
  share/lib/python/neuron/rxdtests/tests/wave1d/wave1d_taper_125_1.py
  share/lib/python/neuron/rxdtests/tests/wave1d/wave1d_taper_25_5.py
  share/lib/python/neuron/rxdtests/tests/wave1d/wave1d_tree2_125_1.py
  share/lib/python/neuron/rxdtests/tests/wave1d/wave1d_tree2_25_5.py
  share/lib/python/neuron/rxdtests/tests/wave1d/wave1d_tree_125_1.py
  share/lib/python/neuron/rxdtests/tests/wave1d/wave1d_tree_25_5.py
  src/nrnpython/grids.h
  src/nrnpython/rxd_extracellular.cpp
  src/nrnpython/rxd_intracellular.cpp
Labels: bug, rxd, windows

#1310 Bugfix: fixes rxd.re_init so that it loads values from NEURON into rxd nodes.
  share/lib/python/neuron/rxd/rxd.py
  share/lib/python/neuron/rxd/species.py
  test/rxd/ecs/test_ecs_reinit.py
  test/rxd/test_reinit.py
Labels: bug, rxd

#1357 Update CUDA/NVHPC documentation
  docs/coreneuron/how-to/coreneuron.md
Labels: documentation
