Repository neuronsimulator/nrn, pull requests merged in 2021-05, with the labels that each got.

#1254 bugfix: Uninitialized memory for particular rxd reaction currents.
  share/lib/python/neuron/rxdtests/tests/hh_param.py
  src/nrnpython/rxd.cpp
Labels: bug, rxd

#1270 Make rxd.Species keep the corresponding SpeciesOnRegion alive.
  share/lib/python/neuron/rxd/species.py
  test/rxd/test_multicompartment_reactions.py
Labels: rxd

#1309 real templates for `sptree`
  src/nrncvode/spt2queue.cpp
  src/nrncvode/sptbinq.cpp
  src/nrncvode/sptbinq.h
  src/nrncvode/sptfifoq.cpp
  src/nrncvode/sptqueue.cpp
  src/nrncvode/sptree.cpp
  src/nrncvode/sptree.h
Labels: refactoring
