Repository neuronsimulator/nrn, pull requests merged in 2021-03, with the labels that each got.

#1036 Updated rxd example on initial conditions and parameters
  docs/rxd-tutorials/Changing initial conditions and parameters.ipynb
Labels: documentation, rxd

#1062 bugfix: rxd initialization problem where a section is added after ecs.
  share/lib/python/neuron/rxd/rxd.py
Labels: bug, rxd

#1069 Test for rxd extracellular initialization.
  test/rxd/ecs/test_ecs_init.py
Labels: rxd, testing

#1072 bugfix: Stop rxd.Region keeping sections alive when they go out of scope.
  share/lib/python/neuron/rxd/region.py
  share/lib/python/neuron/rxd/section1d.py
  share/lib/python/neuron/rxd/species.py
  test/rxd/test_region_sections.py
Labels: bug, rxd

#1077 bugfix: Stop calling `h.ion_register` for all rxd species.
  share/lib/python/neuron/rxd/species.py
  test/rxd/test_unicode_names.py
Labels: bug, rxd

#1106 bugfix: Check species id before deleting atolscale.
  share/lib/python/neuron/rxd/species.py
  test/rxd/test_species_del.py
Labels: bug, rxd

#1127 Add an option to allow higher resolution calculation of surface areas.
  share/lib/python/neuron/rxd/geometry3d/FullJoinMorph.py
  share/lib/python/neuron/rxd/geometry3d/surface_a.py
  share/lib/python/neuron/rxd/options.py
Labels: rxd

#1114 correct Node3D location to from the corner to the centre of the voxel.
  share/lib/python/neuron/rxd/node.py
  test/rxd/3d/test_node_selection.py
  test/rxd/3d/test_pure_diffusion_3d_anisotropic.py
Labels: rxd
