Repository neuronsimulator/nrn, pull requests merged in 2022-01, with the labels that each got.

#1586 SaveState supports rxd
  share/lib/python/neuron/__init__.py
  share/lib/python/neuron/rxd/__init__.py
  share/lib/python/neuron/rxd/rxd.py
  share/lib/python/neuron/rxd/species.py
  src/nrniv/savstate.cpp
  src/nrnpython/nrnpy_hoc.cpp
  test/rxd/test_savestate.py
Labels: rxd

#1604 nrn_add_test_*: improve consistency/docs/speed.
  .cmake-format.changes.yaml
  CMakeLists.txt
  cmake/NeuronTestHelper.cmake
  test/external/olfactory-bulb-3d/CMakeLists.txt
  test/external/tqperf/CMakeLists.txt
Labels: build system, testing, documentation, building, cmake

#1607 Move values to the PARAMETER block in a mod file for rxd tests.
  share/lib/python/neuron/rxdtests/tests/ecs/pump.mod
  test/rxd/ecs/pump.mod
Labels: bug
