Repository neuronsimulator/nrn, pull requests merged in 2023-09, with the labels that each got.

#2461 removed code commented out years ago
  share/lib/python/neuron/rxd/__init__.py
Labels: rxd

#2488 Bugfix: Allow result of python call from rxd include flux to be free'd.
  src/nrnpython/rxd.cpp
Labels: bug, rxd

#1858 Meaningful Python types
  docs/python/index.rst
  docs/python/programming/neuron_classes.rst
  share/lib/python/neuron/hclass3.py
  share/lib/python/neuron/tests/utils/checkresult.py
  src/nrnoc/init.cpp
  src/nrnpython/nrnpy_hoc.cpp
  src/nrnpython/nrnpy_hoc.h
  src/oc/hoc_oop.cpp
  test/pytest_coreneuron/test_basic.py
  test/pytest_coreneuron/test_inheritance.py
  test/pytest_coreneuron/test_pyobj.py
Labels: python, hackron2022

#2564 Update electrotonic_analysis.rst
  docs/courses/electrotonic_analysis.rst
Labels: documentation
