Repository neuronsimulator/nrn, pull requests merged in 2025-05, with the labels that each got.

#3401 remove dimension keyword argument from rxd.Region
  docs/python/modelspec/programmatic/rxd.rst
  share/lib/python/neuron/rxd/region.py
Labels: python, rxd

#3351 Update species on region exception message.
  share/lib/python/neuron/rxd/species.py
  test/rxd/test_species_exception.py
Labels: rxd

#3404 Add NMODL warning if a FUNCTION does not have a return statement
  src/nmodl/visitors/semantic_analysis_visitor.cpp
  src/nmodl/visitors/semantic_analysis_visitor.hpp
  test/nmodl/transpiler/unit/utils/test_utils.cpp
  test/nmodl/transpiler/unit/utils/test_utils.hpp
  test/nmodl/transpiler/unit/visitor/semantic_analysis.cpp
Labels: enhancement, nmodl

#3382 Use GitHub actions for MacOS ARM wheels
  .github/workflows/pypi-upload-template.yml
  .github/workflows/wheels-ci.yml
  .github/workflows/wheels-nightly.yml
  .github/workflows/wheels-template.yml
  packaging/python/build_wheels.bash
Labels: enhancement, python, CI, wheel

#3389 Update rxd.MultipleGeometry to support 3D and hybrid models.
  share/lib/python/neuron/rxd/geometry.py
  test/rxd/3d/test_multigeometry.py
Labels: rxd

#3430 Synchronize PyPI nightly uploads in GitHub CI
  .github/workflows/wheels-nightly.yml
Labels: CI

#3418 Cache Python packages in GitHub Actions CI
  .github/workflows/coverage.yml
  .github/workflows/neuron-ci.yml
  .readthedocs.yml
  ci/requirements.txt
  ci/uv_requirements.txt
  docs/install/install_instructions.md
  nrn_requirements.txt
Labels: python, CI
